*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

section, aside {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para el botón */
#Crear {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    text-align: center;
}

#Crear:hover {
    background-color: #444;
}

/* Estilos para los input y select */
input[type="number"], select {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el h1 */
h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilos para el h4 */
h4 {
    margin: 0;
}

/* Estilos para las labels */
label {
    display: block;
    font-weight: bold;
}

/* Estilos para el resultado del promedio, mayor, menor, simétrico, pares e impares */
input[type="text"][readonly] {
    border: none;
    background-color: transparent;
    border: solid grey 1px;
}

#contenedor{
    width: 1200px;
    height: 521px;
    margin-top: 250px;
    margin-left: 425px;
    border: solid black 5px;
}