*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1500px;
    height: 750px;
    margin-top: 150px;
    margin-left: 250px;
    background-color: lightblue;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el encabezado */
  header {
    background-color: #007BFF; /* Azul */
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 32px;
  }
  
  header h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  /* Estilo para la sección principal */
  section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    color: #333;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
  }
  
  /* Estilo para el aside (calculadora) */
  aside {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }
  
  hr {
    background-color: #ccc;
    height: 1px;
    border: none;
    margin-top: 10px;
  }
  
  span {
    display: block;
    margin-top: -15px;
    background-color: #fff;
    width: 80px;
    text-align: center;
    color: #007BFF;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  /* Estilo para los botones */
  center {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #btnCalcular {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
  }
  
  #btnLimpiar {
    background-color: #ccc;
    color: #333;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  h3 {
    font-size: 16px;
  }