
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  #contenedor {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 800px;
    margin: 50px auto;
    padding: 20px;
  }
  
  header h1 {
    text-align: center;
    color: #333;
  }
  
  /* Etiquetas y entradas de texto */
  label {
    margin-top: 10px;
    color: #555;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el botón */
  #btnCalcular {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #btnCalcular:hover {
    background-color: #0056b3;
  }
  
  #imc {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  li{
    list-style: none;
    margin-left: -20px;
  }

  aside {
    float: right; 
    width: 25%; 
    text-align: center; 
    padding: 10px;
    border: solid grey 1px; 
  }
  
  section {
    float: left; 
    width: 70%;
  }

  img{
    height: 450px;
  }

  #calorias{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }