body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #0073e6;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    font-size: 20px;
}

hr {
    border: 1px solid #0073e6;
}

a {
    text-decoration: none;
    color: #0073e6;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    color: red;
}