body{
    text-align: center;
}

#contenedor {
    background-color: #f0f0f0; 
    padding: 20px;
    width: 500px;
    height: 1000px;
    border: 1px solid grey;
  }

  img {
    width: 80px; 
    height: 80px; 
  }
  
  #mostrar {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: 1px solid darkblue;
    cursor: pointer;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
    background-color: blue;
    color: white;
  }

  label{
    font-family: Arial, Helvetica, sans-serif;
  }

  select{
    margin-left: 10px;
  }